@model IEnumerable<Noise.Models.News>

@{
    ViewData["Title"] = "Керування новинами";
}

<section class="page-hero">
    <p class="eyebrow">Admin Panel</p>
    <h1>Керування новинами</h1>
    <p>
        На цій сторінці адміністратор може переглядати, додавати, редагувати та видаляти новини музею Noise.
    </p>

    <div class="admin-actions">
        <a class="admin-button" asp-controller="Admin" asp-action="CreateNews">
            Додати новину
        </a>

        <a class="admin-button secondary-button" asp-controller="Admin" asp-action="Index">
            Назад до адмін-панелі
        </a>
    </div>
</section>

<section class="content-grid">
    @foreach (var item in Model)
    {
        <article class="content-card">
            <p class="card-meta">@item.PublishedAt.ToString("dd.MM.yyyy")</p>

            <h2>@item.Title</h2>

            <p>@item.Text</p>

            <div class="admin-card-actions">
                <div class="admin-card-main-actions">
                    <a class="card-link" asp-controller="News" asp-action="Details" asp-route-id="@item.Id">
                        Переглянути
                    </a>

                    <a class="card-link" asp-controller="Admin" asp-action="EditNews" asp-route-id="@item.Id">
                        Редагувати
                    </a>
                </div>

                <form asp-controller="Admin" asp-action="DeleteNews" asp-route-id="@item.Id" method="post" class="delete-form">
                    <button type="submit" class="delete-button" onclick="return confirm('Ви точно хочете видалити цей запис?');">
                        Видалити
                   </button>
                </form>
            </div>
        </article>
    }
</section>